{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "printWidth": 120,
    "trailingComma": "all",
    "htmlWhitespaceSensitivity": "css",
    "plugins": ["prettier-plugin-tailwindcss"]
}
